<!DOCTYPE html>
<html ng-app="unPiece">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>*@
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    @Styles.Render("~/Content/themes/treviso")
</head>
<body class="body">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Straw Hat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-controller="NavbarController">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/')}"><a href="/">Home</a></li>
                <li ng-class="{active: isActive('/Videos/Videos')}"><a href="/Videos/Videos">Videos</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="home hero">
        <div class="herowrapper">
        </div>
    </div>
    <script src="~/Scripts/Shared/NavbarController.js"></script>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
    
    
</body>
</html>

